version: "3.4"

services:
  frontend:
    build:
      context: frontend
      target: production
    volumes:
      - ./frontend:/app
      - /app/node_modules
    networks:
      - pessenger-network

  api:
    build:
      context: api
      target: development
    volumes:
      - ./api:/app
      - /app/node_modules
    ports:
      - 8000:8000
    networks:
      - pessenger-network

  https-portal:
    image: steveltn/https-portal:1
    ports:
      - "80:80"
      - "443:443"
    environment:
      DOMAINS: "api.pessenger.duckdns.org -> http://api:8000, pessenger.duckdns.org -> http://frontend"
      STAGE: "production" # Don't use production until staging works
    volumes:
      - https-portal-data:/var/lib/https-portal
    networks:
      - pessenger-network

volumes:
  https-portal-data: # Recommended, to avoid re-signing when upgrading HTTPS-PORTAL

networks:
  pessenger-network:
