version: "3.4"

services:
  frontend:
    restart: always
    build:
      context: frontend
      target: production
    volumes:
      - ./frontend:/app
      - /app/node_modules
    networks:
      - pessenger-network

  api:
    restart: always
    build:
      context: api
      target: development
    volumes:
      - ./api:/app
      - /app/node_modules
    networks:
      - pessenger-network

  https-portal:
    restart: always
    image: steveltn/https-portal:1
    ports:
      - "80:80"
      - "443:443"
    environment:
      DOMAINS: "pessenger.duckdns.org -> http://frontend:80 , api.pessenger.duckdns.org -> http://api:8000"
      STAGE: "production"
      WEBSOCKET: true
    volumes:
      - https-portal-data:/var/lib/https-portal
    networks:
      - pessenger-network

volumes:
  https-portal-data: # Recommended, to avoid re-signing when upgrading HTTPS-PORTAL

networks:
  pessenger-network:
