version: "3.4"

services:
  frontend:
    build:
      context: frontend
      target: development
    volumes:
      - ./frontend:/app
      - /app/node_modules
      - ./frontend/nginx.conf:/etc/nginx/nginx.conf
    ports:
      - 3000:3000
    env_file:
      - ./frontend/.env.dev

  api:
    build:
      context: api
      target: development
    volumes:
      - ./api:/app
      - /app/node_modules
    ports:
      - 8000:8000
