version: "3.4"

services:
  frontend:
    build:
      context: frontend
      target: production
    volumes:
      - ./frontend:/app
      - /app/node_modules
    networks:
      - pessenger-network

  api:
    build:
      context: api
      target: development
    volumes:
      - ./api:/app
      - /app/node_modules
    networks:
      - pessenger-network

  https-portal:
    image: steveltn/https-portal:1
    ports:
      - "80:80"
      - "443:443"
    environment:
      DOMAINS: |
        api.pessenger.duckdns.org -> http://api:8000,
        pessenger.duckdns.org -> http://frontend,
        pessenger.duckdns.org/account/signup -> http://frontend:80,
        pessenger.duckdns.org/account/login -> http://frontend:80,
      STAGE: "production"
      WEBSOCKET: true
    volumes:
      - https-portal-data:/var/lib/https-portal
    networks:
      - pessenger-network

volumes:
  https-portal-data: # Recommended, to avoid re-signing when upgrading HTTPS-PORTAL

networks:
  pessenger-network:
