.pageLayout {
  width: 100vw;
  display: grid;
  grid-template: calc(100vh - 61px) / 1fr 3fr;
  overflow-x: auto;
}

@media screen and (max-width: 1200px) {
  .pageLayout {
    grid-template: calc(100vh - 61px) / 1fr;
  }
}
