.body {
  display: flex;
  align-items: center;
  padding: 10px 50px;
  flex-wrap: wrap-reverse;
  min-height: calc(100vh - 61px);
  justify-content: center;
}

.body > * {
  flex-shrink: 0;
}

.sectionContent {
  width: 45%;
  min-width: 400px;
}
.sectionContent > h1 {
  white-space: nowrap;
  font-size: clamp(2.4rem, 4vw, 4.3rem);
  font-weight: 700;
  width: 80%;
}

.sectionContent > p {
  font-size: clamp(1.2rem, 1.3vw, 3rem);
  color: gray;
  margin: 50px auto;
}

.sectionContent > button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 15px 30px;
  border-radius: 50px;
  border: none;
  background-color: rgb(175, 85, 36);
  color: white;
  font-size: clamp(1.2rem, 1.1vw, 3.6rem);
  white-space: nowrap;
  font-weight: 500;
  transition: all 500ms;
}

.sectionContent > button:hover {
  transform: scale(1.05);
  box-shadow: 2px 2px 4px 2px rgb(203, 202, 202);
}
.imageContainer {
  flex: 1;
  min-width: 500px;
  max-width: 800px;
}

.imageContainer img {
  width: 100%;
}

@media screen and (max-width: 1000px) {
  .sectionContent {
    text-align: center;
  }
  .sectionContent > h1 {
    white-space: normal;
    margin: 0 auto;
  }
  .sectionContent > button {
    margin: auto;
  }
}

@media screen and (max-width: 700px) {
  .sectionContent {
    width: 100vw;
    max-width: unset;
    min-width: unset;
  }
  .imageContainer {
    width: 100%;
    max-width: 90vw;
    min-width: 90vw;
  }
}

@media screen and (max-width: 400px) {
  .sectionContent {
    max-width: 100vw;
  }
}
