.body {
  border: 1px solid rgb(191, 191, 191);
  overflow-y: auto;
  overflow-x: hidden;
  min-width: 350px;
  background-color: white;
  overflow-y: auto;
}
.body header {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 20px;
  border: 1px solid gainsboro;
}
.body header h2 {
  color: rgb(175, 85, 36);
  font-weight: 700;
  font-size: 1.8rem;
}
.body header button {
  margin: 10px 30px;
  background-color: transparent;
  border: none;
  color: rgb(175, 85, 36);
  font-size: 1.5rem;
  position: relative;
}
.body header button > p {
  opacity: 0;
  position: absolute;
  top: 100%;
  left: 50%;

  transform: translateX(-50%);
  color: white;
  background-color: rgb(63, 63, 67);
  font-size: 1rem;
  white-space: nowrap;
  padding: 10px;
  border-radius: 5px;
  transition: all 200ms;
}
.body header button:hover p {
  opacity: 1;
}
.body ul {
  list-style-type: none;
}
.body ul li {
  padding: 0 20px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  background-color: rgb(255, 255, 255);
  cursor: pointer;
  transition: all 200ms;
}
.body ul li > img {
  height: 70%;
  max-height: 40px;
  border: 1px solid gray;
  border-radius: 50%;
}

.body ul li:hover {
  background-color: rgb(221, 221, 221);
}

.popupBody {
  background-color: white;
  border-radius: 20px;
  padding: 30px;
  box-shadow: 2px 2px 4px 4px rgb(158, 158, 158);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.popupBody h2 {
  margin-bottom: 30px;
  color: rgb(175, 85, 36);
  font-size: 2rem;
}

.popupBody > form {
  margin: 20px 0;
}
.popupBody > form > div > input {
  height: 40px;
  padding: 10px;
  width: 100%;
  outline: none;
  border: 1px solid gainsboro;
  font-size: 0.9rem;
}

.popupBody .buttonsContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.popupBody .buttonsContainer button {
  padding: 10px 30px;
  border: none;
  border-radius: 5px;
}

.popupBody .buttonsContainer button:first-child {
  background-color: rgb(175, 85, 36);
  color: white;
}
.popupBody .buttonsContainer button:first-child:hover {
  background-color: rgb(129, 61, 25);
}

.popupBody .buttonsContainer button:last-child {
  background-color: gainsboro;
}

.popupBody .buttonsContainer button:last-child:hover {
  background-color: rgb(188, 186, 186);
}

.buttonInternal,
.buttonExternal {
  display: none;
}

@media screen and (max-width: 1200px) {
  .body {
    position: absolute;
    height: calc(100vh - 61px);
    z-index: 3;
  }
  .hideChat {
    transform: translateX(-100%);
  }
  .showChat {
    transform: translateX(0);
  }
  .buttonInternal,
  .buttonExternal {
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    background-color: rgb(168, 83, 38);
    color: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    position: absolute;
  }
  .buttonInternal {
    top: 50%;
    left: 280px;
    opacity: 0.7;
  }
  .buttonInternal:hover {
    opacity: 1;
  }
  .buttonExternal {
    top: 50%;
    transform: translate(50%, -50%);
    opacity: 0.7;
  }
  .buttonExternal:hover {
    opacity: 1;
  }
  .showButton {
    display: flex;
  }
  .hideButton {
    display: none;
  }
}
